server:
  port: ${APP_PORT:8080}

spring:
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:unravel-db}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10
      connection-timeout: 90000  # 30 seconds (in milliseconds)
      idle-timeout: 60000        # 60 seconds (in milliseconds)
      max-lifetime: 1800000      # 30 minutes (in milliseconds)

  jmx:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus